<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Quote Database</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">

  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'app:index' %}">Quote Database</a> 
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-left">
            <li>
            <a href="{% url 'app:user' user.username %}"><strong>{{user.username}}</strong></a>
            </li>
            <!-- <li><a href="{% url 'app:top' %}">Top Quotes</a></li> -->
            <li><a href="{% url 'app:submit' %}">Submit a Quote</a></li>
          </ul>
          {% endif %}
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'app:logout' %}">Log Out</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'app:login' %}">Log In</a>
            </li>
            <li>
              <a href="{% url 'app:signup' %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{% static 'app/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  </body>
</html>
