<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quote Database</title>
  </head>
  <body>
    <a href="{% url 'app:index' %}">Quote Database</a> | <a href="{% url 'app:submit' %}">Submit</a>{% if not user.is_authenticated %} | <a href="{% url 'app:signup' %}">Sign Up</a> | <a href="{% url 'app:login' %}">Log In</a>{% endif %}
    <!-- TODO: Eventually remove signup link, as user will need to be logged in to see the QDB anyway -->
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
