{% extends "app/base.html" %}

{% block content %}
<section>
  <div class="container-fluid">
  {% if page %}
  {% for quote in page %}
    {% include "app/quote.html" %}
  {% endfor %}
  {% else %}
  <p>No quotes have been submitted.</p>
  {% endif %}
  </div>
</section>
<footer>
  <div class="container-fluid">
    <ul class="pager">
      {% if page.has_previous %}
      <li><a href="{% url 'app:index' %}?page={{page.previous_page_number}}">&larr; Previous</a></li>
      {% else %}
      <li class="disabled"><a href="#">&larr; Previous</a></li>
      {% endif %}
      <li>
        {{page.number}} of {{page.paginator.num_pages}}
      </li>
      {% if page.has_next %}
      <li><a href="{% url 'app:index' %}?page={{page.next_page_number}}">Next &rarr;</a></li>
      {% else %}
      <li class="disabled"><a href="#">Next &rarr;</a></li>
      {% endif %}
    </ul>
  </div>
</footer>
{% endblock %}
