<script type="text/javascript">
  var callback = function(data) {
    if (data.upvoted == true) {
      data.score = 1;
    }
    else if (data.downvoted == true) {
      data.score = -1;
    }
    else {
      data.score = 0;
    }
    $.ajax({
      url: '/vote/' + data.id + '/' + data.score + '/',
      type: 'post'
    });
  };
</script>

<pre>{{quote.text|urlize|linebreaks}}</pre>
<small>Submitted by <a href="{% url 'app:user' quote.submitter.username %}">{{quote.submitter.username}}</a> at <a href="{% url 'app:detail' quote.id %}">{{quote.date}}</a></small>
<br>
<small>Tags:</small>
{% if quote.tags %}
<small>
{% for tag in quote.tags.all %}
<a href="{% url 'app:tag' tag.text %}">{{tag.text}}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</small>
{% endif %}

<br>
Total upvotes: {{quote.rating.likes}}<br>
Total downvotes: {{quote.rating.dislikes}}<br>
Score: {{quote.rating.get_difference}}<br>
{% if quote.id in user_upvotes %}
User has upvoted this.
{% endif %}
{% if quote.id in user_downvotes %}
User has downvoted this.
{% endif %}

<script type="text/javascript">
  $('#votes-{{quote.id}}').upvote({id: {{quote.id}}, count: {{quote.rating.get_difference}}{% if quote.id in user_upvotes %}, upvoted: 1{% endif %}{% if quote.id in user_downvotes %}, downvoted: 1{% endif %}, callback: callback});
</script>

<div id="votes-{{quote.id}}" class="upvote">
  <a class="upvote"></a>
  <span class="count">{{quote.rating.get_difference}}</span>
  <a class="downvote"></a>
</div>
