{% load app_tags %}
<pre>{{quote.text|urlize|target_blank|linebreaks}}</pre>
<small>Submitted by <a href="{% url 'app:user' quote.submitter.username %}">{{quote.submitter.username}}</a> at <a href="{% url 'app:detail' quote.id %}">{{quote.date}}</a></small>
<br>
<small>Tags:</small>
{% if quote.tags %}
<small>
{% for tag in quote.tags.all %}
<a href="{% url 'app:tag' tag.text %}">{{tag.text}}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</small>
{% endif %}

<form action="{% url 'app:rate' quote_id=quote.id %}" method="post">
  {% csrf_token %}
  <input type="number" name="rating" id="rating{{quote.id}}" class="rating">
  <input type="submit" value="Rate">
</form>
Rating: {{quote.ratings}}
