{% extends "app/base.html" %}

{% block content %}
<section>
  <div class="container-fluid">
    <h2>Tag: "{{tag_text}}"</h2>
    <br>
    {% if page %}
    {% for quote in page %}
      {% include "app/quote.html" %}
    {% endfor %}
    {% else %}
    <p>No quotes found with the tag "{{tag_text}}".</p>
    {% endif %}
  </div>
</section>
<footer>
  <div class="container-fluid">
    <ul class="pager">
      {% if page.has_previous %}
      <li><a href="{% url 'app:tag' tag_text=tag_text %}?page={{page.previous_page_number}}">&larr; Previous</a></li>
      {% else %}
      <li class="disabled"><a href="#">&larr; Previous</a></li>
      {% endif %}
      <li>
        {{page.number}} of {{page.paginator.num_pages}}
      </li>
      {% if page.has_next %}
      <li><a href="{% url 'app:tag' tag_text=tag_text %}?page={{page.next_page_number}}">Next &rarr;</a></li>
      {% else %}
      <li class="disabled"><a href="#">Next &rarr;</a></li>
      {% endif %}
    </ul>
  </div>
</footer>
{% endblock %}
