{% extends "app/base.html" %}

{% load bootstrap %}

{% block content %}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h2>What's the secret code?</h2>
        <form id="password-required-login" action="" method="post">
          {% csrf_token %}
          {{form|bootstrap}}
          <button class="btn btn-primary" type="submit">Enter</button>
        </form>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>
{% endblock %}
