<h2>Testing template override</h2>

{% load i18n %}
<form id="password-required-login" action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Let me in" %}" />
</form>

